@font-face {
  font-family: 'Prototype Regular';
  src: url('./fonts/prototype.regular.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1f1f1f;
  color: #f1f1f1;
}

h1 {
  font-family: 'Prototype Regular';
}

.image-carousel {
  list-style: none;
  background-color: gray;
  width: 265px;
  height: 398px;
  /* overflow: hidden; */
  overflow-y: scroll;
  scroll-snap-align: end;
  scroll-behavior: smooth;
  transform: translateY(0px);
  transition: ease all 0.5s;
  margin-left: 400px;
  padding: 0px;
}

.image-carousel::-webkit-scrollbar {
  display: none;
}

.image {
  display: list-item;
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background-color: darkgray;
  box-sizing: border-box;
  height: 398px;
  width: 265px;
  list-style: none;
}

.product-card {
  background-color: grey;
  width: 120px;
  height: 200px;
  margin: 15px;
  display: inline-flex;
}
.related-products {
  border: solid black 2px;
  width: 80%;
  margin: auto;
}
.related-products-carousel {
  width: 600px;
  margin: auto;
  border: solid black 2px;
}