/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF CSS RESET */

body {
  margin: 0;
  padding: 0;
  color: #1f1f1f;
  background-color: #f1f1f1;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

h2 {
  font-size: 14px;
  font-weight: 400;
}

h3 {
  font-size: 12px;
  font-weight: 200;
}

button.info-button {
  font-size: 12px;
  font-weight: 500;
  outline: 0;
  padding: 10px;
  border-radius: 0px;
  border-width: 1px;
  background-color: #1f1f1f;
  color: #f1f1f1;
}

section.body-text {
  font-size: 10px;
  font-weight: 200;
}

span.user-data {
  font-size: 8px;
  font-weight: 300;
  color: rgb(150, 150, 150)
}

span.helpful-answer {
  font-size: 8px;
  font-weight: 300;
  color: rgb(100, 100, 100)
}

.styles-template {
  margin-top: 300px;
}

/* START OF OVERVIEW */

.overview {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.slogan-container {
  display: flex;
  align-items: flex-start;
}

.slogan {
  writing-mode: vertical-rl;
  font-size: 12px;
  color: #1f1f1f
}

.overview-images {
  display: flex;
  justify-content: center;
}

.overview-images:hover .thumbnails{
  opacity: 100;
  transition: opacity 0.2s ease-in;
}

/* IMAGE CAROUSEL */

.image-carousel {
  list-style: none;
  background-color: gray;
  height: 75vh;
  width: 50vh;
  overflow: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.image-carousel::-webkit-scrollbar {
  display: none;
}

.loading {
  background-color: #f1f1f1;
}

.image {
  display: list-item;
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background-color: darkgray;
  box-sizing: border-box;
  height: 75vh;
  width: 50vh;
  list-style: none;
  scroll-snap-align: start;
  scroll-behavior: smooth;
  transition-property: scroll-snap-align;
  transition-duration: 2s;
  object-fit: cover;
}

.image-bar {
  display: flex;
}

.progress-bar {
  height: 100%;
  width: 1px;
  background-color: darkgray;
  margin-left: 20px;
  margin-right: 20px;
}

.progress-bar-progress {
  height: 10%;
  width: 1px;
  background-color: #1f1f1f;
}

.thumbnails {
  display: block;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.thumbnail {
  height: 3.75vh;
  width: 2.5vh;
  display: list-item;
  list-style: none;
  object-fit: cover;
  padding-bottom: 5px;
}

.overview-product-info {
  display: block;
  flex-direction: column;
  padding-left: 20px;
  align-self: flex-end;
  width: 200px;
}

.body-text.price {
  font-weight: 400;
  font-size: 12px;
  margin-top: 10px;
}

/* STYLE BUTTONS */

.style-selector {
  display: flex;
  flex-flow: row wrap;
}

.style-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0 0 0 1px darkgray;
  margin: 3px;
}

.style-buttons:hover {
  box-shadow: 0 0 0 2px #1f1f1f;
}

.style-color {
  height: 24px;
  width: 12px;
  filter: saturate(75%);
  opacity: 90%;
}

.side1 {
  border-radius: 100% 0 0 100%/50% 0 0 50%;
}

.side2 {
  border-radius: 0 100% 100% 0/0 50% 50% 0;
}

.forest-green {
  background-color: rgb(12, 59, 43);
}

.black {
  background-color: #1f1f1f;
}

.desert-brown {
  background-color: rgb(149, 110, 93);
}

.tan {
  background-color: rgb(210, 180, 140);
}

.ocean-blue {
  background-color: rgb(0, 130, 140);
}

.grey {
  background-color: rgb(190, 190, 190);
}

.digital-red {
  background-color: rgb(130, 15, 15);
}

.sky-blue {
  background-color: rgb(55, 135, 185);
}

.white {
  background-color: rgb(250, 250, 250);
}

.dark-grey {
  background-color: rgb(75, 75, 75);
}

.style-selector {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 136px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.style {
  background-color: lightgray;
  height: 48px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  object-fit: cover;
}

button.add {
  width: 100%;
}


/*-------------------- Related Products and Outfit List --------------------*/
/*-------------------- Related Products and Outfit List --------------------*/
/*-------------------- Related Products and Outfit List --------------------*/

/*---------- Carousel ----------*/
.product-list {

  height: 370px;
  width: 925px;
  margin: auto;
}
.carousel-container {
  width: 925px;
  height: 340px;
  position: relative;
  display:inline-flex;
}
.carousel-viewport {
  width: 960px;
  height: 340px;
  margin: auto;
  overflow-x: hidden;
  margin: auto;
}
.carousel {
  display:inline-flex;
}
.arrow {
  width: 45px;
  height: 30px;
  margin: auto;
}

/*---------- Product Card ----------*/
.product-card {
  background-color: black;
  width: 200px;
  height: 300px;
  margin: 20px;
  justify-content: flex-start;
}
.related-image {
  height: 60%;
  width: 200px;
  background-color: grey;
}
.related-info {
  height: 40%;
  background-color: white;
}

/*---------- Comparison Modal ----------*/
.compare-modal {
  position: absolute;
  background-color: white;
  color: black;
  width: 300px;
  height: 200px;
  top: 100px;
  left: 200px;
  display: flex;
  justify-content: space-around;
}

/* Start of Ratings/Reviews *****************/
.ratings-reviews-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  width: 1000px;
  height: 400px;
  margin: auto;
}
.review-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  width: 40vw;
  height: auto;
}
.more-review-and-add-reviews {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.more-reviews-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 125px;
  height: 40px;
  border: 2px solid black;
}
#more-reviews-text {
  margin-top: 10px;
}
.add-a-review-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: 50px;
  width: 125px;
  height: 40px;
  border: 2px solid black;
}
#add-a-review-text {
  margin-top: 10px;
}
.individual-review-container {
  border-bottom: 1px solid black;
  margin: 5px;
}
#review-helpful-link {
  margin-right: 8px;
}
#review-helpful-text {
  margin-right: 8px;
}

.review-report {
  text-decoration: underline;
}
.review-body {
margin-top: 20px;
}
.single-star-outline {
  height: 36px;
  width: 31px;
}
.single-star-fill {
  /* position: relative; */
  display: inline-block;
  height: 36px;
  background-color: #333333;
}
.single-star-container {
  height: 36px;
  width: 31px;
  display: inline-block;
}
.individual-review-element-conatainers {
  margin-bottom: 10px;
}
.review-recommend {
  margin-bottom: 10px;
}
.username-date-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.review-response-container {
  margin-bottom: 10px;
}
.review-helpful-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}