/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF CSS RESET */

body {
  margin: 0;
  padding: 0;
  color: #1f1f1f;
  background-color: #f1f1f1;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: 500;
}

h2 {
  font-size: 14px;
  font-weight: 400;
}

h3 {
  font-size: 12px;
  font-weight: 200;
}

button.info-button {
  font-size: 12px;
  font-weight: 500;
  outline: 0;
  padding: 10px;
  border-radius: 0px;
  border-width: 1px;
}

section.body-text {
  font-size: 10px;
  font-weight: 200;
}

span.user-data {
  font-size: 8px;
  font-weight: 300;
  color: rgb(150, 150, 150)
}

span.helpful-answer {
  font-size: 8px;
  font-weight: 300;
  color: rgb(100, 100, 100)
}

.image-carousel {
  list-style: none;
  background-color: gray;
  width: 265px;
  height: 398px;
  /* overflow: hidden; */
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  transform: translateY(0px);
  transition: ease all 0.5s;
  margin-top: 100px;
  margin-left: 400px;
  padding: 0px;
}

.image-carousel::-webkit-scrollbar {
  display: none;
}

.image {
  display: list-item;
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background-color: darkgray;
  box-sizing: border-box;
  height: 398px;
  width: 265px;
  list-style: none;
  scroll-snap-align: start;
  scroll-behavior: smooth;
  transition-property: scroll-snap-align;
  transition-duration: 2s;
}


.product-list {

  height: 275px;
  width: 925px;
  margin: auto;
}
.carousel-container {
  width: 925px;
  height: 250px;
  position: relative;
  display:inline-flex;
}
.carousel-viewport {
  width: 810px;
  height: 250px;
  margin: auto;
  overflow-x: hidden;
  margin: auto;
}
.carousel {
  display:inline-flex;
}
.product-card {
  background-color: grey;
  width: 130px;
  height: 220px;
  margin: 15px;
  justify-content: flex-start;
}
.arrow {
  width: 45px;
  height: 30px;
  margin: auto;
}
